@media screen and (min-width: 1158px){
    .container{
      width: 1128px;
  }
}
.logo{
  margin-right: 76px;
}
.navigation-nav {
  text-decoration: none;
  font-style: normal;
  display: flex;
  margin-left: auto;
}

  .site-nav{
    display: flex;
}
.navigation-nav .link {
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

}

.navigation-nav .item +.item {
  margin-left: 40px;
}


/* --------герой------------*/


.banner {
  min-height:600px;
  background-size: 1440px 600px;
}

@media screen and (min-width: 1158px) {
  .banner {
    background-image: url('../images/SVG/desktop/people-office\ 1.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:1158px),
  screen and (min-resolution: 192dpi) and (min-width:1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .banner {
    background-image: url('../images/SVG/desktop/people-office\ 1@2x.jpg');
  }
}





.hero {
  
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;

}

.hero-title {
  margin-bottom: 48px;

}



.form-label-textarea {
  margin-bottom: 16px;
}

@media screen and(max-width:1158px) 
{.text-paragraph .item::before{display: none;}
.icon-punctuality::before {display: none;}
.icon-diligence::before {display: none;}
.icon-technologies::before {display: none;} } 

.icon-strategy::before {
  background-image: url(../images/SVG/antenna\ 1.svg);
  margin-bottom: 8px;
}

.icon-punctuality::before {
  background-image: url(../images/SVG/clock\ 1.svg);
  margin-bottom: 8px;
}

.icon-diligence::before {
  background-image: url(../images/SVG/diagram\ 1.svg);
  margin-bottom: 8px;
}

.icon-technologies::before {
  background-image: url(../images/SVG/astronaut\ 1.svg);
  margin-bottom: 8px;
}
.text-paragraph .item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-Cloud);
  border-radius: 4px;

}
.section-subtitles {
  padding-top: 120px;
  padding-bottom: 120px;
}
.subtitles{

  font-weight: 500;
  line-height: 1.2;
}

.text-paragraph {
  font-weight: 400;
  flex-wrap:nowrap;
  column-gap: 0;
}

.text-paragraph .item {
  width: 264px;
  
  margin-bottom: 0px;
}
.text-paragraph .item +.item  {
  
  margin-left: 24px;
  margin-right: 0;
  width: 264px;
 
}
.text-paragraph .item:first-child{
  margin-right: 0;
}


